html {
  background: url(../images/cliff.jpg) no-repeat top left;
}

#bear {
  position: absolute;
  top: 100px;
  right: 0;
}

/*when the screen reaches 1196px stop him from falling off the cliff by setting
him to stay 800px from the left side of the screen before he reaches the edge.*/
/* Write your solution here */

@media only screem and (max-width: 1000px){

    
}
