html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}
/** For the monkey, use a combination of min-width and max-width to set a media
query that will allow the monkey to jump up over the Spice Girls from screen
size of 406px to 1170px keeping him safe from their affection.
/* Write your solution here */

@media only screen and (min-width: 406px) and (max-width: 1170px) {
        #monkey {
            position: absolute;
            top: 0px;
        }
}
