html {
  background: url(../images/croc.jpg) no-repeat top left;
}

#ostrich {
  position: absolute;
  top: 50px;
  right: 0;
}

/*For the ostrich, starting with the screen larger and dragging it smaller
(desktop down) have the ostrich jump upwards 100px closer to the top of the
screen to avoid being eaten by the alligator. As the screen gets smaller then
he will run on top of Mr. Alligator's back.*/
/* Write your solution here */

@media only screen and (max-width: 1072) {
    #ostrich {
        position: relative;
        top: 50px;
    }
}
